{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{page_name}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Список услуг</h1>
    <div class="service-block">
        {% for service in services %}
            <div class="service">
                {% if forloop.first %}
                    <img class="sale-icon" src="{{sale_img}}" alt="">
                {% endif%}
                <img class="service-img" src = "{{service.img}}" alt = "{{service.title}}">
                <p class="service-title">{{service.title}}</p>
                <button class="service-button">Записаться</button>
            </div>
        {% endfor %} 
    </div>
</body>
</html>